.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input{
    margin: 10px 0px;
    width: 200px;
    padding: 5px;
}

button{
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}